<p id="notice"><%= notice %></p>

<p>
  <b>Report:</b>
  <%= @issue.report_id %>
</p>

<p>
  <b>Totaltime:</b>
  <%= @issue.totalTime %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
