<div class="secondary-masthead">
    <div class="container">
      <ul class="breadcrumb">
        <!-- <li><a href="#">Intranet</a> <span class="divider">/</span></li> -->
        <li class="active">Daily Report Search</li>
      </ul>
      <% if(params[:alert].to_s.length != 0)%>
<div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Error</h4>
        <%= params[:alert].to_s%>
</div><!-- /.alert -->
<%= params[:notice]%>
<% end %>
    </div><!-- /.container -->
  </div><!-- /.secondary-masthead -->
<div class="main-area dashboard">
<div class="container">
<%= form_tag({:controller => "daily_report" ,:action => 'showSearchResult'})%>
<div class="row">
        <div class="span12">
          <div class="slate filtering">
            <form class="form-inline">
              <%= select("search","query_year",{'2012' => '2012','2013' => '2013','2014' => '2014'},
              {:include_blank => " - From Year - "})%>
              <%= select("search","query_month",{'1' => '1','2' => '2','3' => '3','4' => '4','5' => '5','6' => '6',
              	'7' => '7','8' => '8','9' => '9','10' => '10','11' => '11','12' => '12'},{:include_blank => " - From Month - "})%>
              <%= collection_select("search","query_username",@users,:username,:username,
              {:include_blank => " - User- "})%>
              <%= collection_select("search","query_projectname",@projects,:projectName,:projectName,
              {:include_blank => " - Project- "})%>
              <%= collection_select("search","query_categoryname",@categories,:categoryName,:categoryName,
              {:include_blank => " - Category- "})%>
              <%= submit_tag("Filter Listings" ,{:class => "btn btn-primary"})%>
            </form>
          </div><!-- /.slate -->
        </div><!-- /.span12 -->
      </div><!-- /.row -->
</form>
</div>
</div>
