<!DOCTYPE html>
<html>
<head>
  <title>Retromeme Intranet Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Retromeme Inc.">
  <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'screen'%>
  <%= javascript_include_tag 'lib/jquery/jquery.js' %>
  <%= javascript_include_tag 'lib/bootstrap/bootstrap.js' %>
  <%= javascript_include_tag 'lib/bootstrap/bootstrap-datepicker.js' %>
  <%= javascript_include_tag 'lib/bootstrap/bootstrap-typeahead.js'%>
  <%= javascript_include_tag 'lib/encanvas.js' %>
  <%= javascript_include_tag 'lib/jquery.flot.js' %>
  <%= javascript_include_tag 'jquery.resize.js' %>
  <%= javascript_include_tag 'lib/jquery/jquery.chosen.js'%>
<body>
<div class="masthead">
    <div class="container">
      <div class="masthead-top clearfix">
        <h1>Retromeme Intranet</h1>
      </div><!-- /.masthead-top -->
    </div><!-- /.container -->
  </div><!-- /.masthead -->
</body>
</html>
